{% if products['total'] > 0 %}
    {# newArrivalProduct \Base\AdminBundle\Entity\Product #}
    <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
    <div class="row margin-bottom-40">
        <!-- BEGIN SALE PRODUCT -->
        <div class="col-md-12 sale-product">
            <h2>Hàng mới về</h2>
            <div class="owl-carousel owl-carousel5">
                {% for newArrivalProduct in products['items'] | slice(0,5) %}
                    {% include 'BaseFrontendBundle:Widget:product_item.html.twig' with { slug: 'new-arrival',  product: newArrivalProduct } %}
                {% endfor %}
            </div>
        </div>
        <!-- END SALE PRODUCT -->
    </div>
    <!-- END SALE PRODUCT & NEW ARRIVALS -->
{% endif %}

{% if products['total'] > 0 %}
    {% for newArrivalProduct in products['items'] %}
        {% include 'BaseFrontendBundle:Widget:product_popup.html.twig' with { slug: 'new-arrival',  product: newArrivalProduct } %}
    {% endfor %}
{% endif %}